.App {
  text-align: center;
  background-color: #f9f7f7;
  color: #15202b;
  border: 5px solid;
  min-height: 100vh;
}

.jsx-class {
  color: #15202b;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.header {
  background-color: #15202b;
  border: 2px solid #222831;
  color: #dddddd;
}

.footer {
  background-color: lightcoral;
}

h1 {
  margin: 0;
  font-style: italic;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
}

.data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* padding: 5px; */
}

.movie {
  border-radius: 5px;
  background-color: #dddddd;
  color: #15202b;
  border: 1px solid #222831;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 22%;
  margin-top: 42px;
}

.movie img {
  width: 100%;
  height: 290px;
}

.btn {
  background-color: #15202b;
  color: silver;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
